cookie = {
    "__cfduid": "__cfduid",
    "event": "event",
    "ipb_member_id": "ipb_member_id",
    "ipb_pass_hash": "ipb_pass_hash",
    "s": "s",
    "sk": "sk",
    "lv": "lv"
}

header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/70.0.3538.110 Safari/537.36 "
}

proxies = {
  "http": "http://127.0.0.1:1080",
  "https": "http://127.0.0.1:1080",
}
token = "your telegram bot api token"